body {
    font-family: Arial, sans-serif;
    background-color: #7ab2ea;
    background-image: url('/userImages/bg2.png');
    background-size: cover;
    }
.container{
    align-items: center;
    height: 900px;
    width:700px;
    padding-top:150px ;
    margin-left: 350px;
}

h1 {
    color: #454141;
}
h6 {
    color: #454141;
}

